@import 'variables';

.bowl {
  text-align: center;
  font-family: $game-font;

  .words-container {
    display: list;
    justify-items: flex-start;
    // flex-wrap: wrap;

    .words {
      // flex: 1 1 50%;
      //flex-grow: 2;
      // display: inline-block;
    }
  }
  .word-input {
    @extend %labowlet-input;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30px;
    box-shadow: $subtle-shadow;
  }
  .word-submit {
    font-size: 20px;
    height: 30px;
    border-radius: 10px;
    box-shadow: $subtle-shadow;
  }

}

.page-footer {
  .foot-header {
    text-align: justify;
    margin-left: 10px;
    line-height: 20px;
    // font-size: 20px;
  }
}