@import './variables.scss';

.game {
  text-align: center;
  font-family: $game-font;
  .game-type {
    padding-top: 5%;
    font-size: 50px;
    line-height: 60px;
  }

  .game-timer {
    padding-top: 5%;
    .game-time-seconds {
      font-size: 70px;
    }
  }

  .game-container__word {
    font-size: 70px;
    line-height: 60px;
    margin: 0px;
    margin-top: 20px;
	  animation: tracking-in-expand 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

  .game-selection {
    padding-top: 90px;

    .player-btn {
      line-height: 50px;
      width: 200px;
      font-family: $game-font;
      font-size: 29px;
      border-radius: 20px;
    }
  }

  .game-container {
    .game-container__actions {
      display: flex;
      height: 200px;
      & > button {
        @extend %clear-button;
        border:none;
        background: transparent;
        font-size: 50px;
        font-weight: bold;
        height: 100%;
        width: 100%;
        
        &.actor-ready, &.ready-state {
          animation: wobble-hor-bottom 0.8s infinite;
        }
        // animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      }
    }
  }
  
}

@keyframes wobble-hor-bottom{0%,100%{transform:translateX(0);transform-origin:50% 50%}15%{transform:translateX(-30px) rotate(-6deg)}30%{transform:translateX(15px) rotate(6deg)}45%{transform:translateX(-15px) rotate(-3.6deg)}60%{transform:translateX(9px) rotate(2.4deg)}75%{transform:translateX(-6px) rotate(-1.2deg)}}
 @keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
