@import './variables.scss';

.home {
  text-align: center;

  .name-input {
    @extend %labowlet-input;
    position: relative;
    border-radius: 10px;
    box-shadow: $subtle-shadow;
    top: 20vh;
    left: 0;
    width: 100%;
    font-size: 20px;
    font-family: $game-font;
    line-height: 30px;
    padding-bottom: 8px;
  }

  .button-group {
    position: relative;
    top: 40vh;
    & > .generic-button:nth-child(n) {
      animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      margin:15px;
      border-radius: 10px;
      &.join-btn {
        animation-delay: 100ms;
      }
    }
  }
}

@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}