@import './variables.scss';

p, h1, h2, h3, h4, b {
  font-family: $game-font;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: $background-color-primary;
  padding: 5px 0px;
  z-index: 1;
  // box-shadow: 7px 7px 0px 11px;
  height: 10vh;
  .back-button {
    position: absolute;
    text-align: justify;
    color: $font-color-bright;
  }
  h2 {
    text-align: center;
    font-family: "Showcard Gothic";
    color: $font-color-bright;
  }
}

.page-container {
  padding: 20px 30px;
  padding-top: 10vh;
  height: 90vh;
  background-color: $background-color-third;
  position: relative;
  line-height: 20px;
}

.card {
  color: $background-color-primary;
  // background-color: $background-color-third;
  margin: 10px;

}

.generic-button {
  position: relative;
  margin: 10px;
  font-size: 18px;
  width: 90%;
  box-shadow: $subtle-shadow;
  background-color: $font-color-bright;
}