$background-color-primary: rgb(1, 40, 126);
$background-color-secondary: rgb(179, 179, 179);
$background-color-third: #fff;

p, h1, h2, h3, h4, b {
  font-family: "Showcard Gothic";
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: relative;
  width: 100%;
  background-color: $background-color-primary;
  padding: 5px 0px;
  box-shadow: 7px 7px 0px 11px;
  height: 10vh;
  .back-button {
    position: absolute;
    text-align: justify;
    color: $background-color-third;
  }
  h2 {
    text-align: center;
    font-family: "Showcard Gothic";
    color: $background-color-secondary;
  }
}

.page-container {
  padding: 20px 10px;
  height: 90vh;
  background-color: $background-color-secondary;
  position: relative;
}

.generic-button {
  position: relative;
  margin: 10px;
  font-size: 18px;
  width: 90%;
  box-shadow: 2px 0px 11px 0px;
  background-color: $background-color-third;
}