$background-color-primary: rgb(150, 180, 16);

p, h1, h2, h3, h4, b {
  font-family: "Showcard Gothic" !important;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: $background-color-primary;
  text-align: center;
  padding: 20px 0px;
  h2 {
    font-family: "Showcard Gothic";
  }
}

.page {
  height: 100%;
  width: 100%;
}

.generic-button {
  position: relative;
  margin: 10px;
  font-size: 18px;
  width: 90%;
  box-shadow: 2px 0px 11px 0px
}