@import './variables.scss';
@import './basic.scss';

.lobby {
  text-align: center;
  margin-bottom: 100px; /* To add extra space if team # > 4 */
}

.add-team-btn {
  @extend .generic-start-btn;
  background-color: $background-color-third
}

.page-footer {
  .foot-header {
    text-align: justify;
    margin-left: 10px;
    line-height: 20px;
    // font-size: 20px;
  }
}

.page-container__team-list {
  display: list;
  
}