@import './variables';
@import './basic';


// We need to make this scrollable
.lobby__content {
  height: 85vh;
  overflow-y: scroll;
  -ms-overflow-style: none;  // IE 10+
  scrollbar-width: none;  // Firefox
  &::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
  }
  
  .lobby__content-container {
    margin-bottom: 20vh; /* To add extra space if team # > 4 */
    button {
      border: none;
    }
  }
}

.add-team-btn {
  @extend .generic-start-btn;
  background-color: $font-color-bright;
  justify-content: center;
  border-radius: 100%;
  width: 50px;
  box-shadow: $subtle-shadow;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  padding: 0px;
  color: $text-color;
}

.page-footer {
  .foot-header {
    text-align: justify;
    margin-left: 10px;
    line-height: 20px;
    // font-size: 20px;
  }
}

.page-container__team-list {
  display: flex;
  justify-content: center;  
}

.team-name-modal {
  @extend %labowlet-input;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30vh;
}

.team-input {
  @extend %labowlet-input;
  border-radius: 10px;
  font-size: 20px;
  line-height: 30px;
  box-shadow: -1px 2px 7px 0 rgba(0, 0, 0, 0.300);

  &:focus {
    outline: none;
    box-shadow: -1px 2px 7px 0 rgba(0, 0, 0, 0.450);
  }
}