@import './variables.scss';
@import './basic.scss';

.lobby {
  text-align: center;
  margin-bottom: 100px; /* To add extra space if team # > 4 */
}

.add-team-btn {
  @extend .generic-start-btn;
  background-color: $font-color-bright;
  // border: 1px solid black;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  width: 50px;
  box-shadow: $subtle-shadow;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  color: $text-color;
}

.page-footer {
  .foot-header {
    text-align: justify;
    margin-left: 10px;
    line-height: 20px;
    // font-size: 20px;
  }
}

.page-container__team-list {
  display: flex;
  justify-content: center;  
}

.team-name-modal {
  @extend %labowlet-input;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30vh;
}