@import './variables';

.title {
  line-height: 190px;
  text-align: center;
  font-family: $primary-font;
  font-size: 80px;
}

.team-row {
  display: flex;
  justify-content: space-between;
  font-family: $primary-font;
  font-size: 26px;
}
.score-page__actionable {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  & > button {
    height: 100%;
    font-family: $primary-font;
    font-size: 26px;
    box-shadow: $subtle-shadow;
    border-radius: 10px;
    padding: 0px  10px;
  }
}

.score-page__content {
  display: flex;
  justify-content: center
}
.score-page__results {
  margin: 50px 0px;
  width: 300px;
}