@import './basic';
@import './variables';

.splash__page {
  height: 100vh;
  background-color: $background-color-primary;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: white;
    text-align: center;
    animation: fade-in 0.3s linear 2.5s both;
  }
}

.splash__img {
  animation: bounce-in-top 0.8s ease-out 1s both;
  width: 300px;
}

.splash__inputs {
  margin-top: 50px;
  animation: fade-in 0.3s linear 2.5s both;
  display: flex;
  justify-content: space-evenly;

  button {
    @extend .generic-start-btn;
  }
  
  &.splash__disabled {
    button {
      @extend .disabled;
    }
  }
}

.splash__footer {
  margin-top: 20%;
  display: grid;
  & > p {
    margin: 0;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.lightSpeedIn {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.lightSpeedOut {
  -webkit-animation-name: lightSpeedOut;
  animation-name: lightSpeedOut;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce-in-top{0%{transform:translateY(-500px);animation-timing-function:ease-in;opacity:0}38%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateY(-65px);animation-timing-function:ease-in}72%{transform:translateY(0);animation-timing-function:ease-out}81%{transform:translateY(-28px);animation-timing-function:ease-in}90%{transform:translateY(0);animation-timing-function:ease-out}95%{transform:translateY(-8px);animation-timing-function:ease-in}100%{transform:translateY(0);animation-timing-function:ease-out}}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedOut {
  from {
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}