@import './variables';
@import './basic';

.summary__page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .animate-team-row {
    font-family: $primary-font;
    font-size: 26px;
    transition: 300ms;
    position: absolute;
    width: inherit;

    .animate-row__content {
      position: relative;
      display: flex;
      justify-content: space-between;
    }
  }
}

.summary__content {
  position: relative;
  text-align: center;
  width: 300px;
  height: 600px;
}

.summary__points_content {
  width: inherit;
  height: 70vh;
  @media screen and (max-height: 700px) {
    height: 85vh;
  }
}

.summary__continue-btn {
  @extend .generic-start-btn;
  text-align: center;
  width: 120px;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
}

.summary__text {
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
}

@keyframes slide-in-fwd-center{0%{transform:translateZ(-1400px);opacity:0}100%{transform:translateZ(0);opacity:1}}
