@import './variables.scss';

.team-card {
  background-color: $font-color-bright;
  box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.185);
  margin: 40px 10px;
  padding: 5px;
  // transition: $bouncing-transition-slow;
  position: relative;
	animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  border-radius: 10px;

  .team-card-title {
    line-height: 30px;
  }

  .team-card-container {
    display:flex;
    margin-bottom: 10px;
    justify-content: space-around;

    span {
      font-family: $primary-font;
      margin: 0px 10px;
    }
  }
}

@keyframes swing-in-top-fwd{0%{transform:rotateX(-100deg);transform-origin:top;opacity:0}100%{transform:rotateX(0deg);transform-origin:top;opacity:1}}