$background-color-primary: #212121;
$background-color-secondary: #757575;
$background-color-third: #EEEEEE;

$font-color-bright: white;
$font-color-dark: black;

$subtle-shadow: 3px 3px 7px 0px;

$primary-font: "Showcard Gothic";